:root{
  --secondary-color: #81170c;
}

body{
  background-color: #de8f23;
}

header{
  text-align: center;
}

a{
  text-decoration: underline;
  color: currentcolor;
}

.content{
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.3);
}

.column{
  flex: 50%;
  padding: 2em;
  border: 2px solid var(--secondary-color);
}

.internalbox{
  margin: 2em;
}

h3{
  color: var(--secondary-color);
}

/* TODO: responsive design */
@media (max-width: 800px){
  .column{
    flex: 100%;
  }
  .content{
    flex-direction: column;
  }
}
